# Introduction


Evaluating Correlations:
* For all categorical variables, show bar chart of default rates. 
* For all continuous variables, show point biserial correlation or ANOVA. 
* * ANOVA gives p-value of equal means. Point biserial is tougher to compare. 
* Futher dimenstionality reduction: Run an LR, show coefficient, p value, and regularizer results. 
* Chi-squared for categorical variables?

How do you evaluate the correlation between two categorical variables: ANOVA or KW?
* ANOVA gives the probability that different samples are drawn from the same population. It assumes a normally-distributed dependent variable, which binary data is not, but [academics have argued](https://journals.sagepub.com/doi/abs/10.3102/00346543042003237?journalCode=rera) that it can be accurately used for binary data anyways. 
* Kruskal Wallis is a non-parametric alternative to ANOVA that similarly tests whether series of observations come from the same distribution. [Other academics have argued](https://journals.sagepub.com/doi/abs/10.3102/00346543051004499?journalCode=rera) that it more accurately assesses correlations between categorical values. But I've used this before and gotten unclear results. I'd like to discuss with the team before choosing a method here. 
* Decision: Chi Squared Test of Association. Using scipy.stats.chi2_contingency, as documented [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) and implemented [here](https://stackoverflow.com/questions/25139326/chi-squared-test-in-python).

In [1]:
import numpy as np
import pandas as pd
import scipy.stats

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 50)

## Data

In [2]:
# Import data and data dictionary
data = pd.read_pickle('output_data/01_data.pkl')

data_dict = pd.read_pickle('output_data/01_data_dict.pkl')

## Potential Features

In [3]:
# Designate eda categories as containing features
prelim_feature_dict = ['credit_score', 'personal_finance', 'other_info']
data_dict['potential_feature'] = data_dict.apply(lambda x: x.eda_category in prelim_feature_dict, axis=1)

## Pearson Correlations

In [4]:
# Function to evaluate pearson correlation
def correlate_pearson(var1, var2, data):
    # Drop rows without either input or output variable
    data_notna = data.dropna(axis=0, subset=[var1, var2])
    
    # Run Pearson correlation
    pearson, pearson_p = scipy.stats.pearsonr(data_notna[var1], data_notna[var2])
    
    return pearson, pearson_p

In [5]:
# Designate list of potential model features
potential_features = data_dict.loc[data_dict['potential_feature']==True, 'variable'].values

# For each potential feature, calculate Pearson's correlation 
# and its p-value and store them in the data dictionary
for var in potential_features:
    pearson, pearson_p = correlate_pearson(var, 'bad', data)
    data_dict.loc[data_dict['variable']==var,'pearson'] = pearson
    data_dict.loc[data_dict['variable']==var,'pearson_p'] = pearson_p

In [11]:
data_dict.sort_values('eda_category').reset_index(drop=True)

,variable,var_dtype,eda_category,categorical,coverage,potential_feature,pearson,pearson_p
0,application_when,datetime64[ns],application,1,1.000000,False,NaN,NaN
1,loan_duration,int64,application,0,1.000000,False,NaN,NaN
2,raw_FICO_money,int64,credit_score,0,1.000000,True,-0.152437,0.000096
3,raw_FICO_bank_card,int64,credit_score,0,1.000000,True,-0.152722,0.000093
4,raw_FICO_retail,int64,credit_score,0,1.000000,True,-0.180558,0.000004
5,raw_FICO_telecom,int64,credit_score,0,1.000000,True,-0.156673,0.000060
6,raw_l2c_score,int64,credit_score,0,1.000000,True,0.017142,0.662671
7,other_phone_type_work,uint8,other_info,-1,1.000000,True,0.054079,0.168479
8,application_day_of_year,int64,other_info,0,1.000000,True,0.013557,0.730101
9,email_duration_months,float64,other_info,0,1.000000,True,0.017248,0.660712
10,residence_duration_months,float64,other_info,0,1.000000,True,-0.063044,0.108316
11,bank_account_duration_months,float64,other_info,0,0.998462,True,-0.102491,0.008926
12,home_phone_type_home,uint8,other_info,-1,1.000000,True,-0.072168,0.065947
13,home_phone_type_mobile,uint8,other_info,-1,1.000000,True,0.065296,0.096251
14,application_month_of_year,int64,other_info,0,1.000000,True,-0.086858,0.026804
15,other_phone_type_home,uint8,other_info,-1,1.000000,True,-0.003088,0.937360
16,home_phone_type_work,uint8,other_info,-1,1.000000,True,0.014284,0.716242
17,email_duration_4_12_months,uint8,other_info,-1,1.000000,True,0.006066,0.877334
18,residence_duration_1_2_years,uint8,other_info,-1,1.000000,True,0.028757,0.464229
19,residence_duration_3+_years,uint8,other_info,-1,1.000000,True,-0.064986,0.097846
20,residence_duration_6_months_or_less,uint8,other_info,-1,1.000000,True,-0.006305,0.872531
21,email_duration_3_months_or_less,uint8,other_info,-1,1.000000,True,-0.033669,0.391451
22,email_duration_1_year_or_more,uint8,other_info,-1,1.000000,True,0.014116,0.719432
23,residence_duration_7_12_months,uint8,other_info,-1,1.000000,True,0.071946,0.066787
24,other_phone_type_mobile,uint8,other_info,-1,1.000000,True,0.038723,0.324267
25,application_hour_of_day,int64,other_info,0,1.000000,True,0.000076,0.998465
26,customer_id,object,performance,1,1.000000,False,NaN,NaN
27,bad,uint8,performance,0,1.000000,False,NaN,NaN
28,idLoan,object,performance,1,1.000000,False,NaN,NaN
29,bank_id_7955,uint8,personal_finance,-1,1.000000,True,0.008873,0.821377
30,how_use_money_other,uint8,personal_finance,-1,1.000000,True,0.036982,0.346523
31,bank_id_7751,uint8,personal_finance,-1,1.000000,True,-0.053980,0.169265
32,monthly_rent_amount,int64,personal_finance,0,1.000000,True,-0.034729,0.376702
33,how_use_money_pay_off_loans_overdrawn_acct,uint8,personal_finance,-1,1.000000,True,-0.095151,0.015236
34,bank_id_0215,uint8,personal_finance,-1,1.000000,True,-0.055170,0.160041
35,payment_frequency_weekly,uint8,personal_finance,-1,1.000000,True,0.103345,0.008370
36,bank_account_duration_3+_years,uint8,personal_finance,-1,1.000000,True,-0.096812,0.013538
37,how_use_money_won't_say,uint8,personal_finance,-1,1.000000,True,0.036005,0.359408
38,expense_type_transportation,uint8,personal_finance,-1,1.000000,True,0.025090,0.523116
39,how_use_money_medical,uint8,personal_finance,-1,1.000000,True,-0.035903,0.360782
40,how_use_money_school,uint8,personal_finance,-1,1.000000,True,-0.025288,0.519839
41,bank_id_0297,uint8,personal_finance,-1,1.000000,True,0.060603,0.122701
42,bank_id_0005,uint8,personal_finance,-1,1.000000,True,0.016410,0.676235
43,bank_account_duration_1_2_years,uint8,personal_finance,-1,1.000000,True,0.040795,0.299038
44,bank_id_9999,uint8,personal_finance,-1,1.000000,True,0.041082,0.295642
45,expense_type_credit,uint8,personal_finance,-1,1.000000,True,-0.095151,0.015236
46,expense_type_medical,uint8,personal_finance,-1,1.000000,True,-0.016085,0.682292
47,expense_type_education,uint8,personal_finance,-1,1.000000,True,-0.025288,0.519839
48,rent_to_income_ratio,float64,personal_finance,0,1.000000,True,-0.026568,0.498931
49,bank_account_duration_7_12_months,uint8,personal_finance,-1,1.000000,True,-0.032270,0.411445
50,payment_frequency_semi_monthly,uint8,personal_finance,-1,1.000000,True,-0.129028,0.000977
51,how_use_money_rent,uint8,personal_finance,-1,1.000000,True,-0.025288,0.519839
52,monthly_income_amount,int64,personal_finance,0,1.000000,True,-0.014465,0.712799
53,payment_frequency_per_month,int64,personal_finance,0,1.000000,True,0.160181,0.000041
54,how_use_money_bills_general,uint8,personal_finance,-1,1.000000,True,-0.056442,0.150612
55,how_use_money_bills_medical,uint8,personal_finance,-1,1.000000,True,0.002386,0.951595
56,expense_type_general,uint8,personal_finance,-1,1.000000,True,0.035075,0.371961
57,how_use_money_car,uint8,personal_finance,-1,1.000000,True,0.003751,0.923953
58,payment_frequency_bi_weekly,uint8,personal_finance,-1,1.000000,True,0.177818,0.000005
59,bank_id_0154,uint8,personal_finance,-1,1.000000,True,-0.060042,0.126211
60,how_use_money_bills_auto,uint8,personal_finance,-1,1.000000,True,0.027949,0.476875
61,bank_account_duration_6_months_or_less,uint8,personal_finance,-1,1.000000,True,0.102211,0.009115
62,how_use_money_bills,uint8,personal_finance,-1,1.000000,True,0.066545,0.090041
63,how_use_money_rent_mortgage,uint8,personal_finance,-1,1.000000,True,-0.046296,0.238525
64,payment_frequency_monthly,uint8,personal_finance,-1,1.000000,True,-0.136097,0.000503
65,how_use_money_bills_home_utilities,uint8,personal_finance,-1,1.000000,True,0.006194,0.874758
66,how_use_money_gifts_leisure,uint8,personal_finance,-1,1.000000,True,-0.074237,0.058540
67,expense_type_housing,uint8,personal_finance,-1,1.000000,True,-0.025325,0.519237
68,birth_date,datetime64[ns],protected,1,1.000000,False,NaN,NaN
69,address_zip,object,protected,1,1.000000,False,NaN,NaN
70,email,object,protected,1,1.000000,False,NaN,NaN
71,bank_routing_number,object,protected,1,1.000000,False,NaN,NaN
72,payment_amount,float64,terms,0,1.000000,False,NaN,NaN
73,amount_requested,int64,terms,0,1.000000,False,NaN,NaN
74,duration_approved,int64,terms,0,1.000000,False,NaN,NaN
75,num_payments,int64,terms,0,1.000000,False,NaN,NaN
76,payment_amount_approved,float64,terms,0,0.966154,False,NaN,NaN
77,status,object,terms,1,1.000000,False,NaN,NaN
78,amount_approved,int64,terms,0,1.000000,False,NaN,NaN

## Sets of Features

# Confounders

Characteristics which affect the performance of the loan in this dataset, but which cannot be used in future underwriting. Hypothetically you'd want to 'control for' these characteristics by adjusting performance by the underlying likelihood of default based on those confounding characteristics which cannot be used by the model. But this is not a run-of-the-mill exercise, and for this analysis I'll simply call out the risks presented.

In [ ]:
# Loan Duration
display(bad_rate_by_category('duration_approved', data))
print('My hypothesis that longer loan durations allow more time for default is incorrect.')
print('Bad rates remain consistent across different loan durations.')

## Export Data

In [12]:
data.to_pickle('output_data/02_data.pkl')
data_dict.to_pickle('output_data/02_data_dict.pkl')